


<%= render 'form' %>



<div class="random ">
<div class="waves-effect waves-light btn"><%= link_to 'Show', @book %></div>
<div class="waves-effect waves-light btn"><%= link_to 'Back' , dashboard_path %></div>

